@font-face{
    font-family: 'HMXNiloofar';
    src: url('/fonts/HMXNiloofar.eot');
    src: url('/fonts/HMXNiloofar.eot?#iefix') format('embedded-opentype'),
    url('/fonts/HMXNiloofar.woff') format('woff'),
    url('/fonts/HMXNiloofar.ttf') format('truetype'),
    url('/fonts/HMXNiloofar.svg#HMXNiloofar') format('svg');
}

@font-face {
    font-family: "hafs";
    src: url('/fonts/hafs.eot');
    src: url('/fonts/hafs.woff2') format('woff2'),
    url('/fonts/hafs.woff') format('woff'),
    url('/fonts/hafs.otf') format('opentype');
}

body, select option, select, button {
    overflow: hidden;
    direction: rtl;
    font-family: HMXNiloofar;
}

#container {
    height: 100vh !important;
    width: 100%;
}

#structure {
    height: 100%;
    width: 40%;
    display: inline-block;
    margin: 0pt;
    padding: 0pt;
    overflow-y: auto;
    overflow-x: hidden;
}

#quran {
    height: 100%;
    width: 55%;
    min-width: 50px;
    display: inline-block;
    margin: 0pt;
    padding: 0pt;
    overflow-y: auto;
    overflow-x: hidden;
}

#structure-columns, #quran-text {
    height: 95%;
    width: 100%;
    margin: 0px;
    padding: 0px;

}

#quran-text {
    direction: rtl;
    font-family: hafs;
}

#C1, #C2, #C3, #C4 {
    height: 100%;
    /* width: 95px; */
    width: 100%;
    display: inline-block;
    margin: 0pt;
    padding: 0pt;
}

.container {
    width: 95%;
    min-height: 10px;
    border: pink 1px;
    /* background: white; */
    margin: 10px;
}

.part {
    /* position: absolute;  */
    /* margin-left: -1.3em; */
    border: red 1px;
    border-style: solid;
    background: white;
}

.info {
    /* padding: 0px 4px;
    margin-bottom: 0;
    margin-top: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    color: #333;
    vertical-align: middle;
    text-align: center; */
    user-select: none;
    border: 1px solid transparent;
    border-radius: 4px;
    text-decoration: none;
    border-color: #fff;
    background-color: #fff;
    background-image: none;
    float:left;
}

/* 
#structure .ui-selecting { background: #FECA40; }
#structure .ui-selected { background: #F39814; color: white; }
#structure ul { 
  list-style-type: none;
  margin: 0px 0px 45px 0px;
  padding: 0;
  width: 450px;
  border:1px solid black; 
}
#structure ul li {
  padding:5px 10px 5px 10px;
  border:1px solid lightgrey;
}

.ui-structure-helper {
  position: absolute;
  z-index: 100;
  border: 1px dotted black;
} */

.part-selected {
    background: #FECA40;
}

#apply-quran-selection {
    display: inline-block;
}

range-parent {
    background-color: #d4d4fdaa;
}

range-sibling {
    background-color: #fce5a8aa;
}

range-current {
    background-color: #FECA40aa;
}

#export {
    display: none;
}

.ui-widget {
    font-family: HMXNiloofar;
}

.ui-widget ul li {
    padding-inline-start: 0.5em;

}

.tg-dialog .tg-dialog-header .tg-dialog-title {
    margin-left: auto;
    margin-right: 0;
}

.add-part-dialog{
    
}